@font-face {
    font-family: Georgia, Times, serif ;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}
@font-face {
    font-family: Arial, Verdana, sans-serif;
    src: url("../../assets/fonts/arial/arial-regular.ttf");
}
@font-face {
    font-family: Arial, Verdana, sans-serif;
    src: url("../../assets/fonts/arial/arial-italic.ttf");
}
html {
    max-width: 1280px;
    margin: 0 auto;
}
* {
   box-sizing: border-box;
   --main-color: #F1CDB3
}
body{
   margin:0 auto;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*header*/

.header-wrapper {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1 {
    width: 184px;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
     font-family: 'Georgia';
     font-style: normal;
     font-size: 32px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 0.06em;
     white-space: nowrap;
     color:  #545454;
 }
 .logo-text { 
     margin: 10px 0 0 0;
     padding: 0 0 0 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    word-spacing: 1px;
    letter-spacing:  0.1em;
    color: #545454;
    white-space: nowrap;
 }
.navigation {
    margin-right: 0px;
    display: flex;
    flex-direction: row;
   gap:35px;
}
.navigation_bordered {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    word-spacing: 1px;
    line-height: 160%;
    color: #545454;
     list-style: none;
     border-bottom:solid 3px   #F1CDB3;
     cursor: pointer;
     transition: 1s;
 }
 
 .navigation_nonbordered {
    list-style: none;
 }
 .navigation_bordered:hover {
    color: #292929;
 }
.nonbordered {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    cursor: pointer;
    transition: 1s;
 }
.nonbordered:hover {
    color: #292929;
 }
a {
     text-decoration: none;
}

 /*pets*/

 main {
    background: #F6F6F6;
 }
.pets-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
 }
.about-pets_box {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-pets_content {
    margin: 0 auto;
    font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #545454;
}
.pets-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 40px;
    flex-wrap: wrap;
}
.pets-slider__card {
    height: 435px;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    background: #FAFAFA;
    cursor: pointer;
    transition: 1s;
}
.pets-slider__card:hover .button-learn{
    background: #FFFFFF;
    background-color:  #FDDCC4;
}
.pets-slider__card:hover {
    background-color: #FFFFFF;
}
.card-name {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.button-learn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: #FAFAFA;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: 1s;
}
.button-learn:hover {
       background-color:  #FDDCC4;
}

    /*button slider*/

.button-navigation {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;   
    gap: 20px;
}
.button_left_left {
    display: inline-block;
    background-color: transparent;
    padding: 15px 16px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
    width: 52px;
    height: 52px;
}
.button_left {
    display: inline-block;
    background-color: transparent;
    padding: 15px 16px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
    width: 52px;
    height: 52px;
}
.button_one {
    display: inline-block;
    background: #F1CDB3;
    padding: 16px 16px;
    border-radius: 100px;
    border: 2px solid  #F1CDB3;
    width: 52px;
    height: 52px;
}
.button_right {
    display: inline-block;
    background-color: transparent;
    padding: 15px 16px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: 1s;
}
.button_right:hover {
        background-color:  #FDDCC4;
}
.button_right_right {
    display: inline-block;
    background-color: transparent;
    padding: 15px 16px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: 1s;
}
.button_right_right:hover {
        background-color:  #FDDCC4;
}
    /*footer*/

.footer {
    padding: 40px 40px 0 40px;
    width: 1280px;
    height: 350px;
    background-image: url("../../assets/images/footer-background.png");
}
.footer-content {
    display: flex;
    flex-direction: row;
    gap: 160px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap:43px;
}
.contacts-title {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.contacts-title-text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    color: #FFFFFF;
}
.email {
    display: flex;
    flex-direction: row;
    gap:20px;
}
.mail-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.phone {
    margin-top: -3px;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.icon-phone {
    margin-top: -4px;
    width: 40px;
    height: 32px;
}
.tel-number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    }
.locations {
    display: flex;
    flex-direction: column;
    gap:39px;
}
.location {
    margin-top: -3px;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.location-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    html {
        overflow-y: auto;
    }
    .wrapper {
       
        width: 100%;
    }
    .header-wrapper {
       padding-left: 30px;
       padding-right: 30px;
        width: 100%;
        position: fixed;
    }
    /*.sticky {
        position: sticky;
        top:120px;
        bottom: 121px
    }*/
    /*pets*/
    .pets-content {
        width: 100%;
        padding-top: 120px;
        height: auto;
        gap:30px;
    }
    #scarlett {
        display: none;
    }
    #fredie {
        display: none;
    }
    .button-navigation {
        margin-top: 10px;
        margin-bottom: 76px;
    }
    /*footer*/

    .footer {
        width: 100%;
        height: auto;
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .footer-content {
        padding-top: 11px;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
        row-gap: 83px;
    }
    .contacts {
        width: 278px;
        height: 234px;
    }
    .locations {
        width: 302px;
        height: 234px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .wrapper {
        width: 100%;
    }

    /*header*/
    .wrap {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
       justify-content: space-between;
       /*align-items: baseline*/
        /*gap:43px;*/
    }
    .hamburger {
        margin-top: 40px;
        margin-right: 52px;
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      
       width: 30px;
       height: 40px;
       cursor: pointer;
       user-select: none;
       z-index: 15;
       transition: 3s;
       
     }
     .hamburger:hover {
       
     }
     .hamburger.open:hover {
       
     }
     .line {
       width: 30px;
       height: 2px;
       background:#000000;
       margin: 4px 0;
      
       z-index: 15;
       transition: all 0.3s ease-in-out;
      
     }
     
     .hamburger.open .line1 {
       transform: rotate(90deg) translate(10px, -12px) ;
     }
     
     .hamburger.open .line2 {
       /*opacity: 0;*/
       transform: rotate(90deg) translate(0, 0);
       
     }
     
     .hamburger.open .line3 {
       transform: rotate(90deg) translate(-10px, -6px);
     }
     .hamburger.open .navigation {
       visibility: visible;
       right: 0;
     }
     .header__navigation {
        position: fixed;
        top:0;
        right: -100%;
        width: 320px;
        height: auto;
        background-color: black;
        overflow-x: hidden;
        transition-duration: 1s;
        z-index: 0;
      }
      .header__navigation.active {
        right: 0;
        z-index: 5;
        overflow-x: hidden;
      }
      .navigation {
        display: block;
        position: absolute;
        top:20px;
        right: 0;
        width: 100%;
        height: 426px;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
       
      }
      .link {
         display: block;
      }
      .navigation_bordered {
        display: block;
        
      }
      .navigation_nonbordered {
         display: block;
      }
      .navigation_bordered:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%); 
      }
      .navigation_nonbordered:hover {
         filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
         contrast(87%);
      }
     .header {
        
     }
     .header-wrapper {
         width: 320px;
         margin-top: 0;
         margin-left: 10px;
        /* margin-right: 53px;*/
     }
     .logo {
         width: 184px;
         margin-top: 3px;
     }
     /*pets*/
     .pets-content {
         gap: 42px;
     }
     .about-pets_box {
      margin-top: 42px;
     }
     .about-pets_content {
        font-size: 25px;
        letter-spacing: 0.06em;
        color: #545454;
     }
    
     .pets-cards:nth-child(5) {
        display: none;
    }
    #sophia  {
        display: none;
    }
    #timmy {
        display: none;
    }
    #charly {
        display: none;
    }
    #scarlett {
        display: none;
    }
    #fredie {
        display: none;
    }
    .button-navigation {
        margin-bottom: 42px;
        width: 100%;
        gap:10px;
        justify-content: center;
    }
     /*footer*/
    .footer {
        overflow-y: hidden;
        width: 100%;
        height: 809px;
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .footer-content {
        margin: auto;
        flex-direction: column;
        gap: 0;
        height: 809px;
    }
    .puppy-fhoto {
        width: 260px;
        height: auto;
    }
    .contacts {
        width: 255px;
        margin: auto;
        margin-bottom: 5px;
        justify-content: center;
        gap: 40px;
    }
    .contacts-title {
        margin-top:30px;
    }
    .contacts-title-text {
       
        width: 278px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        
        text-align: center;
        letter-spacing: 0.06em;

        /* color-light-xl */

        color: #FFFFFF;
    }
    .email {
        justify-content: space-between;
    }
    .phone {
        justify-content: space-between;
        gap: 5px
    }
    .tel-number {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        /* identical to box height, or 23px */

        letter-spacing: 0.06em;
    }
    .locations {
        width: 300px;
        margin: auto;
        
    }
    .location {
        margin-top: 5px;
        justify-content: baseline;
    }
    .location-text {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        /* or 23px */
        
        letter-spacing: 0.06em;
    }
    .puppy {
        width: 260;
        margin: 35px auto;
    }
}

@media screen and (max-width: 319px) {
    body {
        overflow-x: hidden;
    }
    .wrapper {
        width: 100%;
    }

    /*header*/
    .wrap {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
       justify-content: space-between;
       /*align-items: baseline*/
        /*gap:43px;*/
    }
    .hamburger {
        margin-top: 40px;
        margin-right: 52px;
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      
       width: 30px;
       height: 40px;
       cursor: pointer;
       user-select: none;
       z-index: 15;
       transition: 3s;
       
     }
     .hamburger:hover {
       
     }
     .hamburger.open:hover {
       
     }
     .line {
       width: 30px;
       height: 2px;
       background:#000000;
       margin: 4px 0;
      
       z-index: 15;
       transition: all 0.3s ease-in-out;
      
     }
     
     .hamburger.open .line1 {
       transform: rotate(90deg) translate(10px, -12px) ;
     }
     
     .hamburger.open .line2 {
       /*opacity: 0;*/
       transform: rotate(90deg) translate(0, 0);
       
     }
     
     .hamburger.open .line3 {
       transform: rotate(90deg) translate(-10px, -6px);
     }
     .hamburger.open .navigation {
       visibility: visible;
       right: 0;
     }
     .header__navigation {
        position: fixed;
        top:0;
        right: -100%;
        width: 320px;
        height: auto;
        background-color: black;
        overflow-x: hidden;
        transition-duration: 1s;
        z-index: 0;
      }
      .header__navigation.active {
        right: 0;
        z-index: 5;
        overflow-x: hidden;
      }
      .navigation {
        display: block;
        position: absolute;
        top:20px;
        right: 0;
        width: 100%;
        height: 426px;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
       
      }
      .link {
         display: block;
      }
      .navigation_bordered {
        display: block;
        
      }
      .navigation_nonbordered {
         display: block;
      }
      .navigation_bordered:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%); 
      }
      .navigation_nonbordered:hover {
         filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
         contrast(87%);
      }
     .header {
        
     }
     .header-wrapper {
         width: 320px;
         margin-top: 0;
         margin-left: 10px;
        /* margin-right: 53px;*/
     }
     .logo {
         width: 184px;
         margin-top: 3px;
     }
     h1 {
        font-size: 16px;
     }
     /*pets*/
     .pets-content {
         width: 100%;
         gap: 42px;
     }
     .about-pets_box {
      margin-top: 42px;
     }
     .about-pets_content {
        font-size: 16px;
        letter-spacing: 0.06em;
        color: #545454;
     }
    
     .pets-cards{
        width: 100%;
    }
    .katrine {
        width: 80%;
        height: auto;
    }
    #sophia  {
        display: none;
    }
    #timmy {
        display: none;
    }
    #charly {
        display: none;
    }
    #scarlett {
        display: none;
    }
    #fredie {
        display: none;
    }
    .button-navigation {
        margin-bottom: 42px;
        width: 100%;
        gap:5px;
        justify-content: center;
    }
     /*footer*/
    .footer {
        overflow-y: hidden;
        width: 100%;
        height: 809px;
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .footer-content {
        margin: auto;
        flex-direction: column;
        gap: 0;
        height: 809px;
    }
    .puppy-fhoto {
        width: 260px;
        height: auto;
    }
    .contacts {
        /*width: 255px;*/
        width: 100%;
        margin: auto;
        justify-content: center;
        gap: 40px;
    }
    .contacts-title {
        margin-top: 30px;
    }
    .contacts-title-text {
       
        /*width: 278px;*/
        width: 80%;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        
        text-align: center;
        letter-spacing: 0.06em;

        /* color-light-xl */

        color: #FFFFFF;
    }
    .email {
        justify-content: space-between;
        gap: 2px;
    }
    .phone {
        justify-content: space-between;
        gap: 2px
    }
    .tel-number {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        /* identical to box height, or 23px */

        letter-spacing: 0.06em;
    }
    .locations {
        /*width: 300px;*/
        width: 100%;
        margin: auto;
        
    }
    .location {
        margin-top: 5px;
        justify-content: baseline;
    }
    .location-text {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        /* or 23px */
        
        letter-spacing: 0.06em;
    }
    .puppy {
        width: 100%;
        height: auto;
        margin: 35px auto;
    }
}