.content {
    display: flex;
}
.filters {
    width: 10em;
    border-radius: 15px;
    border: 2px black solid
}
.goods {
    flex:2;
   
}
.good-box {
    width:150px;
    height: 150px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.good-wrapper {
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height: 400px;
    border: 1px solid black;
}
.goods {
    margin-top: 20px;
   height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}
.good-image {
    width: 200px;
    height: auto;
   
}