.content {
    display: flex;
}
.filters {
    width: 7em;
    background-color:blue;
}
.goods {
    flex:2;
    background-color: bisque;
}
.good-box {
    width:150px;
    height: 150px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    
    width: 130px;
    height: 200px;
    border: 1px solid black;
}
.goods {
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}